.add-company {

}

.add-company__list {
  @include ul-none();
  margin-bottom: 30px;

  @include media-breakpoint-up(xl) {
    margin-bottom: 0;
  }
}

.add-company__item {
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  font-size: 16px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    background: #4e5d72;
    width: 16px;
    height: 13px;
    transform: translateY(-50%);
  }

  &::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    width: 3px;
    height: 13px;
    transform: translateY(-50%);
    background: $color-1;
    z-index: 2;
  }
}
