.advantages {

}

.advantages__list {
  @include ul-none();
  @include make-row();
  margin: 0 -7.5px;
  transition: $time;
  background: transparent;
}

.advantages__column {
  @include make-col-ready();
  padding-left: 7.5px;
  padding-right: 7.5px;
  @include media-breakpoint-up(md) {
    @include make-col(4);
  }
}

.advantages__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  min-height: 175px;
  text-align: center;
  padding: 30px 10px;
  background: $white;
  z-index: 2;
  transition: $time;

  span {
    font-size: 16px;
    color: #9fb2bc;
    transition: $time;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    transition: $time;
  }

  &:hover {
    background: #406582;

    .advantages__icon {
      fill: $white;
    }
    span {
      color: $white;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      opacity: 1;
      background: url("../img/bg-adv.jpg") no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }
}

.advantages__icon {
  display: block;
  margin: 0 auto 15px;
  fill: #9fb2bc;
  transition: $time;
}

.advantages__btn {
  display: block;
  max-width: 380px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
  box-shadow: 0 0 10px 1px rgba(#5facd4, .5);
}
