.division {
  display: flex;
  align-items: center;
  min-height: 66px;
  padding-right: 10px;
  font-weight: 300;
  color: $white;
  margin-bottom: 30px;
  font-size: 16px;
  background: #4e5d72;

  &:hover {
    color: $white;
  }
}

.division__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 15px;
  width: 66px;
  padding: 13px;
  background: #5facd4;
}

.division__icon .icon {
  fill: $white;
}
