.group-ident {
  @include padding-ident();

  &--color {
    background: $white;
  }

  &--img {
    background: url("../img/portfolio.jpg") no-repeat bottom;
    color: $white;
    background-size: cover;
  }

  &--pattern {
    background: url("../img/bg-pattern-1.png") no-repeat center;
    background-size: cover;
  }

  &--bg-line {
    background: url("../img/bg-line.png") no-repeat -50px -400px;
  }

  &--pd {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  &--ident-big {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  &--ident-midle {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.group-ident .tes .col-lg-3:nth-last-child(-n+4) .division {
  margin-bottom: 0;
}
