.navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navigation__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: -15px;
  list-style: none;

  @include media-breakpoint-up(xl) {
    flex-direction: row;
  }
}

.navigation__link {
  display: block;
  color: $white;
  padding: 10px 20px;

  &:hover {
    color: $color-1;
  }
}

.navbar-collapse {
  transition: $time;
}
