.social {
  @include ul-none();
  display: flex;
  justify-content: space-between;
  width: 90px;
}

.social__link {

  svg {
    fill: $white;
    transition: $time;
  }

  &:hover svg {
    fill: $color-1;
  }
}
